.topbar {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #1a1a1a;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.left-bar {
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;
}

.right-bar {
    background-color: blue;
    padding: 10px;
}

.center-bar {
    background-color: green;
    padding: 10px;
}

.centering40 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}