.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 10% 85% 5%;
  grid-template-areas: "topbar topbar topbar"
    "content content content"
    "footer footer footer";

  height: 100vh;
  width: 100vw;

  .topbar {
    grid-area: topbar;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "left-bar center-bar right-bar";
    background: var(--secondary-background-color);

    .left-bar {
      grid-area: left-bar;

      display: flex;
      flex-direction: row;
      align-items: center;

      padding: 10px;

      .left-bar__search {

      }
    }

    .right-bar {
      grid-area: right-bar;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      button {
        text-wrap: nowrap;
        height: 40%;
        margin: 0 10px 0 0;
      }
    }

    .center-bar {
      grid-area: center-bar;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 10px;

      h1 {
        margin: 0;
        padding: 0;
      }
    }
  }

  .footer {
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: var(--secondary-background-color);
    align-items: center;

    a {
      color: var(--white-text);
      text-decoration: none;
    }
  }
}

.loading {
  animation: rotateAnimation 500ms linear infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
    scale: 1;
  }

  50% {
    transform: rotate(180deg);
    scale: 1.2;
  }

  100% {
    transform: rotate(360deg);
    scale: 1;
  }
}
